.controller.edit {
    background: url(drawing/brain.png);
    height: 500px;
    width: 500px;
}
.edit .stick {
    position: absolute;
    background: url(drawing/stick.png);
    height: 75px;
    width: 75px;
    background-size: cover;
}
.edit .stick.left {
    top: 0;
    left: 0;
}
.edit .stick.right{
    top: 0px;
    left: 150px;
}
